<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>


    <div th:fragment="common_search">
        <div class="div-panel" >
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><i class="am-icon-search"></i>大家在搜</div>
                <div class="am-panel-bd">
                    <ul class="am-list am-list-static am-list-border">
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路">铁路</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=机车">机车</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路技术管理规程">铁路技术管理规程</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路运输调度规则">铁路运输调度规则</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路交通事故调查处理规则">铁路交通事故调查处理规则</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路交通事故应急救援和调查处理条例">铁路交通事故应急救援和调查处理条例</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="user_info">
        <div class="div-panel" >
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd">个人信息</div>
                <div class="am-panel-bd">

                </div>
            </div>
        </div>
    </div>

    <div th:fragment="user_search">
        <div class="div-panel" >
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><i class="am-icon-search"></i>最近搜索</div>
                <div class="am-panel-bd">
                    <ul class="am-list am-list-static am-list-border">
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路">铁路</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=机车">机车</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路技术管理规程">铁路技术管理规程</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路运输调度规则">铁路运输调度规则</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路交通事故调查处理规则">铁路交通事故调查处理规则</a></div></li>
                        <li><div><i class="am-icon-search am-icon-fw"></i><a href="search.html?key=铁路交通事故应急救援和调查处理条例">铁路交通事故应急救援和调查处理条例</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="user_collection">
        <div class="div-panel">
            <div class="am-panel am-panel-success">
                <div class="am-panel-hd"><i class="am-icon-star"></i>最近收藏</div>
                <div class="am-panel-bd">
                    <ul class="am-list am-list-static am-list-border">
                        <li>
                            <div><i class="am-icon-star am-icon-fw"></i>普铁事故管理第8条</div>
                            <span class="am-fr time">2017-8-30 12:12</span>
                        </li>
                        <li>
                            <div><i class="am-icon-star am-icon-fw"></i>高铁施工管理第110条</div>
                            <span class="am-fr time">2017-8-30 12:12</span>
                        </li>
                        <li>
                            <div><i class="am-icon-star am-icon-fw"></i>高铁施工管理第10条</div>
                            <span class="am-fr time">2017-8-30 12:12</span>
                        </li>
                        <li>
                            <div><i class="am-icon-star am-icon-fw"></i>高铁施工管理第37条</div>
                            <span class="am-fr time">2017-8-30 12:12</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div th:fragment="catalog_tree">
        <div class="div-panel">

        </div>
    </div>

</body>
</html>